<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Site
    </title>
    <link rel="stylesheet" href="static/styles.css" type="text/css" media="screen" />
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maitree&family=Waterfall&display=swap" rel="stylesheet">
   </head>
  <body>
    <div id="app">
    </div>
    <div class="top-container">
      <!-- <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img" /> -->
      <h1><em>Steve Summering</em>
      </h1>
      <h2>A house painter who
        <span class="pro">codes
        </span>
      </h2>
      <!-- <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img" /> -->
      <img src="static/images/simplemountaincrop.png" class="simplemountain", alt="mountain-img" />
    </div>
    <div class="middle-container">
  <div class="profile">
    <img src="static/images/face2.png" alt="Steve face">
    <h2>Hello.
    </h2>
    <p class="intro">A guy who loves nature and coding.
    </p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.
    </h2>
    <div class="skill-row">
      <img class="python" src="static/images/python.png" alt="python icon">
      <h3>Python
      </h3>
      <p>Have taken a handfull of online classes in Python and have experience with everything from Web Development to DataScience.
      </p>
    </div>
    <div class="skill-row">
      <img class="tux" src="static/images/tux.png" alt="">
      <h3>Linux
      </h3>
      <p>I started using Linux as a daily driver eleven years ago and loved it from the very start. The freedom and power that I fealt while computing was unlike anything I've ever experienced on a computer. I used my free time during pandemic to build a Linux From Scratch system that uses AwesomeWM and can run Firefox.
      </p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch
    </h2>
    <h3>Feel free to shoot me an email
    </h3>
    <p style="padding-bottom: 30px">I'm always interested in ways I can get involved in new projects.
    </p>
    <a class="btn" href="mailto:summeringpainting@gmail.com">CONTACT ME
    </a>
  </div>
</div>


<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/stephen-summering-ab390a70?original_referer=https%3A%2F%2Fwww.google.com%2F">LinkedIn
  </a>
  <p>© 2022 Stephen Summering.
  </p>
</div>

    </body>
  </html>
